#s_boxL1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 10;
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.56);
    backdrop-filter:grayscale(10) blur(7px);
}
#s_boxL2{
    padding:0;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.701);
    transition: all 1s ease;
    animation:bringSelectAni .5s ease;
}
@keyframes bringSelectAni {
    0%{
        filter: opacity(.5);
        transform: scale(0.85);
    }
    65%{
        transform: scale(1.01);
    }
    100%{
        filter: opacity(1);
        transform:scale(1);
    }
}

#s_ImgDiv{
    max-width: 70vw;
}
#selectedImg{
    max-height: 70vh;
    max-width: 70vw;
}
#s_btns{
    position: absolute;
} 
#s_btns button{
    background-color: transparent;
    color:white;
    outline:none;
    border:none;
    font-size: 30px;
    cursor: pointer;
}
