@media only screen and (max-width: 600px) {
    * {
      font-size: 12px;
    }
  }

body{
    margin:0;
    padding:0;
    background-color: #212121;
    color:rgb(227, 227, 227);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;
}
::-webkit-scrollbar {
    width: 8px;
    height: 4px;
  }
::-webkit-scrollbar-thumb:hover{
    background-color: #396eaada;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #6d6d6dda;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
  
*{
    scrollbar-width: thin;
    scrollbar-color: #6d6d6dda transparent;
}
