body{
    margin:6px;
    background-color: #212121;
    color:rgb(227, 227, 227);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #6d6d6dda;
    border-radius: 6px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
  
*{
    scrollbar-width: thin;
    scrollbar-color: #6d6d6dda transparent;
}
  